.wrapper {
  color: white;
  display: flex;
  flex-direction: column;
  max-width: max-content;
  padding: 1rem;
  gap: 1rem;
  a {
    svg {
      color: white;

      &:hover {
        animation-name: example;
        transition: all 1.3s ease;
        animation-duration: 24s;
        animation-iteration-count: infinite;
        color: rgb(255, 7, 222);
      }
    }
  }
}
@keyframes example {
  0% {
    color: rgb(255, 7, 222);
  }
  25% {
    color: rgb(0, 255, 60);
  }
  50% {
    color: rgb(255, 247, 0);
  }
  70% {
    color: rgb(0, 195, 255);
  }
  100% {
    color: rgb(255, 7, 222);
  }
}
